registry = https://vivintsolar.artifactoryonline.com/vivintsolar/api/npm/npm-virtual
_auth = ZGV2ZWxvcGVyOkFQM2NTS3duWmN5dEdyZmk0VmNWYmtQWlRwVlNac1JydlBUa0sxNE1YVUU4dkpLYlV6V2JGWVRrZ0JUUA==
always-auth = true
email = api@vivintsolar.com
